<!-- https://apis.ccbp.in/crypto-currency-converter -->
<!-- const id = this.route.snapshot.paramMap.get('id'); -->
<div class="bg-container">
    <h1>Cryptocurrency Tracker</h1>
    <img src="https://assets.ccbp.in/frontend/react-js/cryptocurrency-bg.png" alt="cryptocurrency" class="cryptocurrency-img"/>
    <ul class="cards-container">
        <li class="card heading">
            <p>Coin Type</p>
            <div class="currency-value">
                <p class="value">USD</p>
                <p class="value">EURO</p>
            </div>
        </li>
        <li class="card" *ngFor="let data of cryptoData">
            <div class="currency-img-name">
                <img [src]="data.currency_logo" [alt]="data.currency_name" class="currency-img"/>
                <p class="currency-name">{{data.currency_name}}</p>
            </div>
            <div class="currency-value">
                <p class="value">{{data.usd_value}}</p>
                <p class="value">{{data.euro_value}}</p>
            </div>
        </li>
    </ul>
</div>